<html>
	<head>
		<link rel="stylesheet" href="../css/cal.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    	<script src="../js/cal.js"></script>
	</head>
	<body>
		<div id="calculator" class="calculator">
			<div class="display_bar">
				<p id="display_val" class="text"></p>
			</div>
			<div class="keyboard">
				<span id="clear">C</span>
				<span id="left_parent" class="">(</span>
				<span id="right_parent">)</span>
				<span id="divide" class="operator">/</span>
				<span id="7" class="number">7</span>
				<span id="8" class="number">8</span>
				<span id="9" class="number">9</span>
				<span id="multi" class="operator">*</span>
				<span id="4" class="number">4</span>
				<span id="5" class="number">5</span>
				<span id="6" class="number">6</span>
				<span id="minus" class="operator">-</span>
				<span id="1" class="number">1</span>
				<span id="2" class="number">2</span>
				<span id="3" class="number">3</span>
				<span id="add" class="operator">+</span>
				<span id="0" class="double_size number bottom_row">0</span>
				<span id="dot" class="number bottom_row">.</span>
				<span id="equal" class="equal bottom_row">=</span>
			</div>
		</div>
	</body>
</html>